body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}

#root {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  display: flex;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
